/* Font-Size */

.text-size-60 {
    font-size: 60px;
}

.text-size-48 {
    font-size: 48px;
}

.text-size-42 {
    font-size: 42px;
}

.text-size-32 {
    font-size: 32px;
}

.text-size-30 {
    font-size: 30px;
}

.text-size-26 {
    font-size: 26px;
}

.text-size-24 {
    font-size: 24px;
}

.text-size-22 {
    font-size: 22px;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-17 {
    font-size: 17px;
}
.text-size-16 {
    font-size: 16px;
}




/* Line Height */

.line-height-81 {
    line-height: 81px;
}

.line-height-72 {
    line-height: 72px;
}

.line-height-65 {
    line-height: 65px;
}

.line-height-52 {
    line-height: 52px;
}

.line-height-48 {
    line-height: 48px;
}

.line-height-43 {
    line-height: 43px;
}

.line-height-39 {
    line-height: 39px;
}

.line-height-38 {
    line-height: 38px;
}

.line-height-36 {
    line-height: 36px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-28 {
    line-height: 28px;
}

.line-height-27 {
    line-height: 27px;
}

.line-height-24 {
    line-height: 24px;
}

.line-height-21 {
    line-height: 21px;
}

