:root {

    /* Color */

    --colorWhite: #fff;
    --colorBlack: #000;
    --colorableGreen: #1B353D;
    --colorGray3: #404040CC;
    --colorSurfieGreen: #0F756B;
    --colorMineShaft: #333333;
    --colorIron: #D9DCE0;
    --colorCatskillWhite: #F4F9FA;
    --colordarkGreen: #075700;
    --colorMing: #3B7586;

    --colorWildSand: #F5F5F5;
    --colorWhisper: #FAFAFC;

    --colorgrey: #70707040;
    --colorgrey2: #404040;
   

}